POSTGRES_PASSWORD=
SESSION_SECRET=
SESSION_COOKIE_NAME=homebase_session
APP_TIMEZONE=UTC
HTTP_PORT=8080
WEB_BASE_URL=http://localhost:8080
API_BASE_URL=http://localhost:8080
BUDGET_APP_URL=
OAUTH_PROVIDER_NAME=
OAUTH_ISSUER_URL=
OAUTH_AUTH_URL=
OAUTH_TOKEN_URL=
OAUTH_USERINFO_URL=
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_REDIRECT_URL=
OAUTH_SCOPES=openid profile email
BOOTSTRAP_OWNER_EMAIL=
BOOTSTRAP_OWNER_NAME=
BOOTSTRAP_HOUSEHOLD_NAME=My Household
ROUTINE_CHECK_INTERVAL_SECONDS=900
DOCUMENT_MAX_UPLOAD_MB=25
